
#navbarMynav{
  font-family: 'Inconsolata', monospace;
}
ul{
  list-style-type: none;
  justify-content: center;

}
ul a{
  text-decoration: none;
  padding-left: 3rem;
  color: black;
}
.bgg{
  background-image: linear-gradient(to right, rgba(0, 0, 255, 0.2),  rgba(128,128,128), rgba(0, 0, 255, 0.2));
  
}
img{
  
  height: 400px;
  width: 1300px;
  object-fit: cover;
  
  
}
.about img{
 max-width: 100%;
  height: auto;
  padding-right: 3rem;
  padding-bottom: 3rem;
}
.about{
  margin-top: 6rem;
}
.name{
padding-left: 5rem;
padding-top: 6rem;
  
}
.education {
  position: relative;

  
}
.text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
}
.contact{
  background-color:darkblue;
color: aliceblue;
}
a{
  color: azure;
}

.intro{

  margin: auto;
}
.title-underline{
 width: 10rem;
    height: 0.3rem;
    margin: auto;
    margin-bottom: 2rem; 
}

